:root {
  /* 主題色 */
  --brown1: rgba(91, 53, 32, 1) !important;
  --brown2: rgba(152, 117, 87, 1) !important;
  --brown3: rgba(187, 159, 135, 1) !important;
  --brown4: rgba(227, 218, 209, 1) !important;
  --brown1s: rgba(91, 53, 32, 0.3) !important;
  --brown2s: rgba(152, 117, 87, 0.3) !important;
  --brown3s: rgba(187, 159, 135, 0.3) !important;
  --brown4s: rgba(227, 218, 209, 0.3) !important;
  --black1: rgba(0, 0, 0, 0.1) !important;
  --black2: rgba(0, 0, 0, 0.3) !important;
  --black3: rgba(0, 0, 0, 0.5) !important;
  --swiper-theme-color: rgba(91, 53, 32, 1) !important;
}
