:root {
  /* 主題色 */
  --brown1: rgba(91, 53, 32, 1) !important;
  --brown2: rgba(152, 117, 87, 1) !important;
  --brown3: rgba(187, 159, 135, 1) !important;
  --brown4: rgba(227, 218, 209, 1) !important;
}